.testimonials {
  &__title {
    background-image: linear-gradient(
      108deg,
      #b16cea 8%,
      #ff5e69 40%,
      #ff8a56 77%,
      #ffa84b 91%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
  }

  &__innerContainer {
    position: relative;

    button:nth-child(1),
    button:nth-child(3) {
      position: absolute;
      right: 0;
      z-index: 9;
      bottom: 2.3em;
      border-radius: 0 !important;
    }
    button:nth-child(1) {
      right: 3.3em;
    }

    .container {
      width: 100% !important;
      .indicators {
        display: none !important;
      }

      .wrapper {
        .card {
          div:nth-child(1) {
            img {
              width: 26em;
              height: 28em;
            }
          }

          .card-details {
            position: relative;
            height: 100%;
            font-family: IBM Plex Sans;
            padding-left: 5% !important;

            div:nth-child(1) {
              position: absolute;
              bottom: 2em;
              font-size: 1.25em;
              font-weight: 700;
            }

            div:nth-child(2) {
              position: absolute;
              bottom: 1em;
            }

            div:nth-child(3) {
              font-size: 2.25em;
              font-weight: 500;
              line-height: 1.3;
              width: 80%;
            }
          }
        }
      }
    }
  }
}
